rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /posts/{postId} {
      allow read: if true;
      allow create, update, delete: if request.auth != null
        && (
          request.auth.token.email == 'farman@gmail.com'
          || request.auth.token.email == 'farmankhan473488@gmail.com'
        );
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
